body{
	padding-top: 90px;
	background: #d3d3d3 ;
}

.jumbotron{
	color: #2c3e50;
	background: #ecf0f1;
	font-family: 'Lobster', cursive;

}

.navbar-inverse{
	background: #2c3e50;
	font-family: 'Patua One', cursive;
	

}

.svg-inline--fa{
	padding-right: 10px;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;

}

.navbar-inverse .navbar-brand{
	color: white;
	font-size: 18px;
}

footer{
	font-family: 'Lobster', cursive;
	text-align: center;
}